---
title: "Home"
layout: default
---

{% if site.data.main_banner %}
{% assign banner = site.data.main_banner %}
{% include banner/main.html banner=banner %}
{% endif %}
{% if site.data.articles %}
{% assign cards = site.data.articles %}
{% include block_gallery_cards/main.html cards=cards %}
{% endif %}
{% if site.data.carrousel_two %}
{% assign data=site.data.carrousel_two %}
{% include light_bg_block/main.html data=data %}
{% endif %}
{% if site.data.carrousel_two %}
{% assign data=site.data.carrousel_two %}
{% include no_bg_cards/main.html data=data %}
{% endif %}
{% if site.data.carrousel_two %}
{% assign data=site.data.carrousel_two %}
{% include no_bg_colored_blocks/main.html data=data %}
{% endif %}
{% if site.data.bg_with_block %}
{% assign data=site.data.bg_with_block %}
{% include image_bg_white_card/main.html data=data %}
{% endif %}
{% if site.data.carrousel %}
{% assign data=site.data.carrousel %}
{% include carrousel_w_waves/main.html data=data %}
{% endif %}
{% if site.data.carrousel_two %}
{% assign data=site.data.carrousel_two %}
{% include carrousel_block/main.html data=data %}
{% endif %}
{% if site.data.bg_with_block %}
{% assign data=site.data.bg_with_block %}
{% include image_w_descr_curly/main.html data=data %}
{% endif %}
{% if site.data.simple_questions %}
{% assign data=site.data.simple_questions %}
{% include simple_color_boxes/main.html data=data %}
{% endif %}